@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw !important;
    background-image: linear-gradient(90deg, #1F3456, #1A2A3B);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow-x: hidden !important;
    align-items: center;
    font-family: "Poppins", sans-serif, Arial;

}
 
main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* estilização do header e navegação */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #172535;
}

header h1 {
    height: 100px;
    display: flex;
    align-items: center;
}

 header ul {
    margin: 0px 80px 0px 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    height: 100px;
}

header nav ul li {
    margin-top: 8px;
    margin-left: 20px;
    font-size: 1.3rem;
}

header nav li a, div li a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

header nav ul li a:hover {
    border-bottom: 5px solid aqua;
}

header nav ul li a::after {
    border-bottom: 5px solid aqua;
}

header div ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 10px;
    list-style: none;
    height: 100px;
}

header div ul li {
    margin-left: 10px;
    height: 23px;
    display: flex;
    justify-content: center;
}

header div ul li a {
    color: #d3d3d3;
    padding: 3px;
    font-size: 0.8rem;
    transition: 0.2s ease-in-out;
    
}

header div ul li button {
    padding: 2px;
    border: none;
    background-color: #60a000;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

header div ul li button:hover {
    background-color: #6fb801;
}

header div ul li a:hover {
    color: white;
}

/* estilização da barra de busca */

main div.nav-filters {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 35px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #243d64;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00000041;
}

div.search {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 30px;
    background-color: #038888;
    overflow: hidden;
    border-radius: 3px;
    transition: 0.2s;
}

div.search input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #007a7a;
    color: white;
    padding: 10px;
}

div.search input::placeholder{
    color: white;
}

div.search button {
    height: 100%;
    background-color: #019c9c;
    border: 1px solid #66666679;
    cursor: pointer;
}

div.search:hover {
    border: 0.5px solid #00cfcf;
}

ul.filters {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin-right: 10px;
}

ul.filters li {
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

ul.filters li a {
    color: #d4d4d4;
    font-size: 0.9rem;
}

ul.filters li a:hover {
    color: white;
}

/* estilização do swiper */

section.swiper-content {
    width: 100%;
    height: 365px;
    margin: 100px;
    display: flex;
    user-select: none;
}

section.swiper-content div.swiper {
  width: 45%;
  margin: 0 auto;
}

div.swiper h2 {
    margin-bottom: 20px;
}


div div.swiper-slide, div.swiper-slide-active, div.swiper-slide-next{
    height: auto;
    max-height: 270px;
    max-width: 215px;
    background-color: #1A2A3B;
    overflow: hidden;
    box-shadow: 0px 0px 10px #00000013;
    border-radius: 5px;
}

div.swiper-slide img.swiper-img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

div.swiper-slide div.swiper-text-content {
    height: 100%;
    max-height: 150px;
    width: 100%;
}
 div.swiper-text-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
 }

div.text-content-interaction {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    width: 150px;
    justify-content: space-between;
}

button#iFavorite, button#iShoppingCart {
    width: 47%;
    border: none;
    background-color: #1c3050;
    border-radius: 5px;
    transition: 0.05s ease-in-out;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px #0000001c;
}

button#iFavorite:hover, button#iShoppingCart:hover {
    cursor: pointer;
    background-color: #1f3558;
}

button#iFavorite:active, button#iShoppingCart:active {
    transform: scale(0.95);
}

button#iBuy {
    width: 100%;
    display: flex;
    background-color: #60a000;
    justify-content: center;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.05s ease-in-out;
    box-shadow: 0px 0px 5px #0000001c;
}

button#iBuy:hover {
    background-color: #6fb801;
    cursor: pointer;
}

button#iBuy:active {
    transform: scale(0.95);
}

button#iBuy p {
    color: white;
    padding: 5px;
}

div.offer-price {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px #0000001c;
}

span.offer {
    width: 50%;
    background-color: #60a000b7;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.offer p {
    font-weight: 600;
}

span.price {
    width: 50%;
    display: flex;
    flex-flow: column;
    background-color: #1c3050bd;
}

span.price p.p1 {
    font-size: 0.7em;
    color: #b8b8b8;
    font-weight: 400;
}

span.price p.p2 {
    font-size: 0.8em;
    font-weight: 500;
}

div.swiper-button-next {
    position: relative;
    left: -24%;
    top: 45%;
    transform: translateY(-45%);
    transform: translateX( 90%);
    transition: 0.1s ease-in-out;
    user-select: none;
}

div.swiper-button-prev {
    position: relative;
    left: 24%;
    top: 45%;
    transform: translateY(-45%);
    transform: translateX(-90%);
    transition: 0.1s ease-in-out;
    user-select: none;
}

div.swiper-button-next, div.swiper-button-prev {
    background-color: #a0e4ff;
    height: 120px;
    width: 25px;
    color: #172535;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px #87ddff2f;
    transition: 0.05s ease-in-out;
    user-select: none;
}

div.swiper-button-prev:hover, div.swiper-button-next:hover {
    background-color: #7ed8fc;
}

div.swiper-button-next:active {
    transform: translateX(90%) scale(0.95);
}

div.swiper-button-prev:active {
    transform: translateX(-90%) scale(0.95);
}

span.swiper-pagination-bullet {
    border-radius: 0;
    width: 20px;
}

span.swiper-pagination-bullet-active {
    background-color: #243d64;
}

footer {
    width: 100%;
    height: auto;
    background-color: #000522;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

div.footer-content {
    display: flex;
    flex-flow: column nowrap;
}

div.lead {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

div.lead p {
    font-weight: 500;
}

div.lead span {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #050d38;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 5px #0811475b;
}

div.lead span img {
    width: 20%;
    margin-right: 7px;
}

div.lead span input {
    width: 80%;
    height: 60%;
    padding-left: 10px;
    outline: none;
}

div.copyright {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
}

div.copyright h3 {
    text-shadow: 0px 0px 5px #ffffff69;
}

div.support {
    margin-bottom: 50px;
}

div.support ul {
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

div.support ul li {
    margin: 0px;
    padding: 5px;
    line-height: 10px;
}

div.support ul li:not(:last-child) {
    border-right: 1px solid #808080a2;
}

div.support ul li a {
    color: #adadad;
    font-weight: 400;
}

div.support ul li a:hover {
    color: #ffffff;
}